h1 {
    color: black);
}

/*
h2 {
    color: rgb(247,220,49);
}

h3 {
    color: rgb(232,48,42);
}

*/

.square-blue {
    background: rgb(1,154,213);
    width: 100%;
    height: 20px;
    align: left;

}

.square-yellow {
    background: rgb(247,220,49);
    width: 50%;
    height: 10px;
    float: left;
}

.square-red {
    background:rgb(232,48,42);
    width: 50%;
    height: 10px;
    float: right;
}