h1 {
    color: rgb(1,154,213);
}

h2 {
    color: rgb(247,220,49);
}

h3 {
    color: rgb(232,48,42);
}

.square-blue {
    background: rgb(1,154,213);
    width: 50px;
    height: 50px;

}

.square-yellow {
    background: rgb(247,220,49);
    width: 50px;
    height: 50px;
}

.square-red {
    background:rgb(232,48,42);
    width: 50px;
    height: 50px;
}


/*
.left-content {
    float: left;
    background-color: rgb(1,154,213);
}

.middle-content {
    background-color: rgb(232,48,42);
}

.right-content {
    float: right;
    background-color: rgb(247,220,49);
}